header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}